.conversion-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .conversion-blocks {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .conversion-blocks {
    margin-top: 3rem;
    flex-direction: row;
  }
}
